{% macro nav_item(endpoint, text, fa) %}
    <li class="nav-item" style="margin-right: 50px;">
        <a class="nav-link nav-text {% if request.endpoint and request.endpoint==endpoint %}nav-active{% endif %}" href="{{ url_for(endpoint) }}">
            <i class="{{ fa }}"></i>
            {{ text }}
        </a>
    </li>
{% endmacro %}

{% macro dropmenu(title, icon, attrs) %}
    <li class="nav-item dropdown {% if request.endpoint == endpoint %}active{% endif %}" style="margin-right: 50px;">
        <a class="nav-link nav-text dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="{{ icon }}"></i> {{ title }}
        </a>
        <div class="dropdown-menu mt-0 rounded-0 border-0" aria-labelledby="navbarDropdown">
            {% for attr in attrs %}
                <a class="dropdown-item" href="{{ attr[0] }}"><i class="{{ attr[1] }}"></i>{{ attr[2] }}</a>
            {% endfor %}
{#            <a class="dropdown-item" href="{{ url_for('soul_bp.index') }}"><i class="fa fa-file-code-o mr-2"></i>毒鸡汤</a>#}
{#            <a class="dropdown-item" href="/ts-poem/"><i class="fa fa-file-text-o mr-2"></i>唐宋诗</a>#}
{#            <a class="dropdown-item" href="/song-ci/"><i class="fa fa-file-text mr-2"></i>宋词</a>#}
{#            <a class="dropdown-item" href="/api/introduce/"><i class="fa fa-exchange mr-2"></i>API</a>#}
{#            <a class="dropdown-item" href="/timeline/"><i class="fa fa-list-ol mr-2"></i>建站日志</a>#}
        </div>
    </li>
{% endmacro %}