<footer class="container-fluid mt-4 py-0 bg-footer">
    <div class="card-body text-center px-0 f-14">
        <p class="card-text mb-1">Copyright&nbsp;©&nbsp;<span id="year-info">2023</span>
            <a href="https://github.com/zhichaoGuo" class="text-decoration-none footer-a" target="_blank"
               title="yaki">JiuBlog</a>.&nbsp;Design&nbsp;by&nbsp;Flask2.2.3
        </p>
        <p class="mb-0">
            <a href="http://beian.miit.gov.cn/" class="text-decoration-none footer-a" target="_blank">中ICP还没备xx号-1</a>&nbsp;<span
                id="web-day"> 网站已续航 000 天</span>
        </p>

    </div>
</footer>