<nav style="flex: none" class="navbar navbar-expand-lg bg-nav justify-content-between">
        <a class="navbar-brand nav-text" href="/">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" width="104px" height="36px">
        </a>
        <button class="navbar-toggler navbar-light bg-light"
                type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                {{ nav_item("blog.home", '主页', 'fa fa-home') }}
                {{ dropmenu('博客管理', 'fa fa-pencil',
                            [['/m/blog_new', 'fa fa-file-code-o mr-2', '新增博客'],
                             ['/m/blogs', 'fa fa-file-text-o mr-2', '管理博客'],
                             ['/m/blog_type', 'fa fa-file-text mr-2', '管理分类']]) }}
                {{ dropmenu('相册管理', 'fa fa-photo',
                            [['/m/photo_new', 'fa fa-file-code-o mr-2', '新增相片'],
                             ['/m/photos', 'fa fa-file-text-o mr-2', '管理相片']]) }}
                {{ nav_item('/m/time', '归档管理', 'fa fa-archive') }}
                {{ nav_item('/m/tool', '工具管理', 'fa fa-steam') }}
                {{ dropmenu('其他', 'fa fa-subway',
                            [['/soul/', 'fa fa-file-code-o mr-2', 'DJT'],
                             ['/ts-poem/', 'fa fa-file-text-o mr-2', 'Poem'],
                             ['/song-ci/', 'fa fa-file-text mr-2', 'Ci'],
                             ['/api/introduce/', 'fa fa-exchange mr-2', 'API'],
                             ['/rss-feed/index/', 'fa fa-rss-square mr-2', 'RSS'],
                             ['/timeline/', 'fa fa-list-ol mr-2', 'Timeline']]) }}
            </ul>
            <form class="form-inline my-2 my-lg-0 mr-4 f-17" method="get" action="/search">
                <input class="form-control mr-sm-2 " type="search" name="q" placeholder="Input Keyword" aria-label="Search"
                       required>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            {% if not current_user.is_authenticated %}
                <ul class="navbar-nav f-17">
                    <li class="nav-item"><a class="nav-link nav-text" href="{{ url_for('blog.signin') }}">登录</a></li>
                    <li class="nav-item"><a class="nav-link nav-text" href="{{ url_for('blog.signup') }}">注册</a></li>
                </ul>
            {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle nav-text" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                           title="Welcome,{{ current_user.username }}~">
                            <img class="avatar" src="{{ current_user.avatar }}" alt="{{ current_user.username }}">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right mt-0 rounded-0 border-0"
                             aria-labelledby="navbarDropdown">
                            <a class="dropdown-item pl-3 " href="/accounts/profile">
                                <i class="fa fa-fw fa-user mr-2"></i>个人资料</a>
                            {% if current_user.group_id == 1 %}
                                <a class="dropdown-item pl-3" href="{{ url_for('blog.home') }}">
                                    <i class="fa fa-fw fa-magnet mr-2"></i>返回前台</a>
                            {% endif %}
                            {% if  request.cookies.get('blog_theme', 'light') == 'light' %}
                                <a class="dropdown-item pl-3" href="{{ url_for('blog.home', theme_name='dark') }}">
                                    <i class="fa fa-fw fa-moon-o mr-2"></i>Dark</a>
                            {% else %}
                                <a class="dropdown-item pl-3"
                                   href="{{ url_for('blog.home', theme_name='light') }}">
                                    <i class="fa fa-fw fa-sun-o mr-2"></i>Light</a>
                            {% endif %}
                            <a class="dropdown-item pl-3" href="{{ url_for('blog.logout') }}">
                                <i class="fa fa-fw fa-sign-out mr-2"></i>登出</a>
                        </div>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>